[Desktop Entry]
Name=Symlink Editor
Exec=/home/user/bin/symlink-editor
Icon=/home/user/bin/symlink-editor-src/icon.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
