[Desktop Entry]
Name=Symlink Editor
Exec=$HOME/bin/symlink-editor
Icon=$HOME/bin/symlink-editor-src/icon.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
