[Desktop Entry]
Name=Symlink Editor
Exec=/home/brianna/magic/symlink-editor
Icon=/home/brianna/magic/symlink-editor-src/icon.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
